ul {
    /* border: 2px solid red; */
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9rem;
    text-align: left;
    /* width: 15rem; */
}
li {
    border: 2px solid white;
    /* margin: 0.8rem 0; */
}
ul li span {
    display: inline-block;
    width: 8rem;
    /* border: 2px solid purple; */
}

ul li:first-child{
    color: rgb(2, 39, 95);
    font-size: 1.2rem;
}
ul li:last-child{
    color: rgb(174, 12, 199);
    font-size: 1.2rem;
}
#total {
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
    border-radius: 0;
}
td,th {
    padding: 0.2rem;
}
