#cruds {
    /* background-color:rgb(113, 73, 83); */
    background-color: rgb(84, 84, 84);
    padding: 1.1rem;
    display: flex;
    justify-content: center;
    gap: 9rem;
    align-items: center;
}
#cruds a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}