#form_rech {
    width: 100%;
    border:2px solid rgb(139, 139, 139);
    display: flex;
    justify-content: space-between;
    /* margin: 1.3rem auto -2rem; */
}
/* #form_rech section {
    height: 2.2rem;
    margin: 0.9rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
} */
#form_rech div {
    margin: 0.5rem;
}
#form_rech section p {
    border-bottom: 2px solid rgb(40, 40, 40);
    width: 14rem;
    color: whitesmoke;
    padding: 0.5rem;
    background-color: rgb(40, 40, 40);
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
}
#form_rech div input,#form_rech div select,#form_rech div label {
    width: 5rem;
    height: 1.3rem;
}
#sectSubRes {
    width: 30% !important;
    margin:2rem auto 0 !important;
}
#sectSubRes input{
    width: 6rem !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px !important;
    color: whitesmoke !important;
    cursor: pointer !important;
}
#sectSubRes input:first-child{
    background-color: rgb(4, 72, 4);
}
#sectSubRes input:last-child{
    background-color: rgb(122, 11, 11);
}
