.form {
    /* border: 2px solid black; */
    border: none;
    border-bottom: 2px solid rgb(207, 207, 207);
    background-color: rgb(207, 207, 207);
    width: 100%;
    margin-top: 0.4rem;
}
.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.2rem;
}
.btn {
    color: whitesmoke;
    cursor: pointer;
    padding: 0.7rem 0.9rem;
    display: inline-block;
    width: 6rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;

}
.btnSubmit {
    background-color: rgb(4, 72, 4);
}
.btnReset {
    background-color: rgb(122, 11, 11);
    display: inline-block;
}
.widthLabel {
    width: 6rem;
}
