/* ce formulaire change le style des composants suivants: formAddtag, formAddAbs, formUpdateStag, formUpdateAbs*/
form {
    width: 60%;
    margin: 3rem auto;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 10px;
    padding: 0.9rem;
}
form div {
    margin: 1.2rem 0;
    display: flex;
    justify-content: flex-start;
}
form div label,form div span {
    width: 30%;
    font-size: 1.1rem;
}
form div input, form div select {
    width: 60%;
    height: 1.5rem;
    font-size: 1.1rem;
}

form div input[type="submit"]{
    width: 15%;
    margin: auto;
    background-color: rgb(30, 101, 56);
    color: whitesmoke;
    font-size: 1.1rem;
    display: block;
    border: none;
    padding: 0.8rem 0 2rem 0;
    border-radius: 10px;
    
}
#inputsRadio {
    /* border: 2px solid red; */
    width: 30rem;
    margin: 0;
}
#inputsRadio label{
    /* border: 2px solid green; */
    display: inline-block;
    width: 20rem;
    margin-left: -3rem;
}
/* #inputsRadio input[type="radio"] {
    border: 2px solid yellow;
    width: 30rem;
} */
.container {
    min-height: 100vh;
}
#error {
    color: red;
    font-size: 1.2rem;
    /* border: 2px solid yellow; */
}