#p1 {
    font-size: 3.4rem;
    color: whitesmoke;
    padding: 10rem 5rem 2rem 4rem;
}
#p2 {
    font-size: 3.4rem;
    color: whitesmoke;
    padding: 2rem 5rem 2rem 6rem;
}
#p2 span {
    color: rgb(50, 146, 219);
}
/* #accSection {
    border: 2px solid red;
} */
.text-container {
    overflow: hidden; /* Masquer le texte qui déborde */
  }
  
  .text-reveal {
    opacity: 0; /* Commencez avec une opacité de 0 */
    transform: translateX(-70px); /* Commencez avec une translation vers le bas */
    transition: opacity 3s ease, transform 3s ease; /* Transition en douceur */
  }
  
  .text-reveal.show {
    opacity: 1; /* Révélez le texte en changeant l'opacité */
    transform: translateX(0); /* Animer le retour à la position initiale */
  }