/* ce fichier permet de styler le composant table stagiaire et table absence à la fois*/
td,th {
    border-bottom: 2px solid rgb(87, 87, 87);
    border-radius: 10px;
}
td {
    border-bottom: 2px solid rgb(168, 168, 168);
}
/* table {
    border: 2px solid rgb(87, 87, 87);
    border-radius: 10px;
} */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 4rem auto;
}
td,th {
    padding: 0.7rem 0.7rem;
    text-align: center;
}
tbody tr:hover{
    background-color: rgb(247, 245, 245);
}
table a {
    text-decoration: none;
    display: inline-block;
    padding: 0.9rem;
    border-radius: 10px;
    color: whitesmoke;
    /* background-color:rgb(31, 82, 62); */
    background-color: rgb(35, 100, 220);
}
#pNull {
    /* border: 2px solid orange; */
    margin: 5rem auto 0;
    width: fit-content;

}
table button {
    /* border: 2px solid red; */
    background-color: rgb(122, 11, 11);
    /* background-color: rgb(65, 7, 65); */
    margin-left: 0.5rem;
    padding: 0.9rem;
    border-radius: 10px;
    color: whitesmoke;
    outline: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}