* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    /* background-color: #181434; */
    background-color: rgb(40, 40, 40);
    /* background-color: rgb(206, 203, 203); */
    /* background-color: rgb(113, 73, 83); */
    padding: 0.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
nav div:first-child span {
    /* border: 2px solid whitesmoke; */
    color: whitesmoke;
    /* color: black; */
    padding: 0.9rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}
nav div:last-child {
    display: flex;
    justify-content: space-around;
    width: 45%;
    /* border: 2px solid yellow; */
    align-items: center;
}
nav a {
    text-decoration: none;
    /* color: black; */
    color: whitesmoke;
    /* font-size: 0.7rem; */
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}
