footer {
    background-color: rgb(32, 32, 32);
    height: 3rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}